/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #181f2a;
  font-family: "Open sans", sans-serif;
  color: white;
  font-size: 14px;
}

header {
  padding: 20px;
  background-color: #1c2431;
}
header .header-logo-and-nav {
  display: grid;
  grid-template-columns: auto auto;
}
header .header-logo-and-nav img {
  width: 40%;
}
header .header-logo-and-nav nav {
  text-align: right;
}
header .header-logo-and-nav nav a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  margin-left: 15px;
}
header .header-main-content {
  text-align: center;
  padding: 60px 20px;
  line-height: 1.5;
}
header .header-main-content .header-illustration img {
  width: 100%;
}
header .header-main-content .header-text h1 {
  font-size: 1.4em;
  margin: 40px 0;
  /*background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center; */
}
header .header-main-content .header-text button {
  padding: 10px 60px;
  margin: 20px 0;
  border-radius: 35px;
  color: white;
  border: 1px solid #339ecc;
  background: #65e2da;
  background: -moz-linear-gradient(left, #65e2da 0%, #339ecc 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #65e2da), color-stop(100%, #339ecc));
  background: -webkit-linear-gradient(left, #65e2da 0%, #339ecc 100%);
  background: -o-linear-gradient(left, #65e2da 0%, #339ecc 100%);
  background: -ms-linear-gradient(left, #65e2da 0%, #339ecc 100%);
  background: linear-gradient(to right, #65e2da 0%, #339ecc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#65e2da", endColorstr="#339ecc", GradientType=1 );
}

.middle-four-blocks-section {
  text-align: center;
  margin: 60px 20px;
}
.middle-four-blocks-section .block {
  margin: 40px auto;
}
.middle-four-blocks-section .block .block-image img {
  height: 88px;
}
.middle-four-blocks-section .block .block-text {
  line-height: 1.5;
}

.stay-productive {
  padding: 20px;
}
.stay-productive .stay-productive-image img {
  width: 100%;
}
.stay-productive .stay-poductive-text {
  margin: 40px 0;
}
.stay-productive .stay-poductive-text .stay-productive-anchor {
  border-bottom: 1px solid #65e2d9;
  width: 150px;
  padding-block-end: 5px;
}
.stay-productive .stay-poductive-text .stay-productive-anchor a {
  text-decoration: none;
  color: #65e2d9;
}
.stay-productive .stay-poductive-text .stay-productive-anchor a i {
  color: #181f2a;
  background-color: #65e2d9;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 0.7em;
  padding: 3px;
  margin-left: 5px;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 60px;
  }
  header .header-logo-and-nav img {
    width: auto;
  }
  header .header-logo-and-nav nav a {
    font-size: 1.2em;
    margin-left: 45px;
  }
  header .header-main-content {
    padding: 60px 40px;
  }
  header .header-main-content .header-text h1 {
    font-size: 2.9em;
  }
  header .header-main-content .header-text p {
    margin: 0 auto;
    font-size: 1.4em;
  }
  header .header-main-content .header-text button {
    font-size: 1.2em;
    padding: 15px 80px;
  }

  .middle-four-blocks-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 80px;
    padding: 20px 40px;
  }
  .middle-four-blocks-section .block {
    margin: 0;
  }
  .middle-four-blocks-section .block .block-image img {
    height: 100px;
  }
  .middle-four-blocks-section .block .block-text p {
    font-size: 1.1em;
  }

  .stay-productive {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .stay-productive .stay-poductive-text {
    margin: 0;
  }
  .stay-productive .stay-poductive-text p {
    line-height: 1.5;
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    padding: 60px;
  }
  header .header-logo-and-nav nav a {
    margin-left: 85px;
  }
  header .header-main-content {
    padding: 60px 220px;
  }
  header .header-main-content .header-text p {
    width: 70%;
  }

  .middle-four-blocks-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 80px;
    padding: 40px 240px;
  }
  .middle-four-blocks-section .block {
    margin: 0;
  }
  .middle-four-blocks-section .block .block-image img {
    height: 100px;
  }
  .middle-four-blocks-section .block .block-text p {
    font-size: 1.1em;
  }

  .stay-productive {
    grid-column-gap: 60px;
  }
  .stay-productive .stay-poductive-text {
    margin: 140px 0;
    padding: 0 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
