@media only screen and (min-width: 768px) {
    header {
        padding: 60px;
        .header-logo-and-nav {
            img {
                width: auto;
            }
            nav {
                a {
                    font-size: 1.2em;
                    margin-left: 45px;
                }
            }
        }
        .header-main-content {
            padding: 60px 40px;
            .header-text {
                h1 {
                    font-size: 2.9em;
                }
                p {
                    margin: 0 auto;
                    font-size: 1.4em;
                }
                button {
                    font-size: 1.2em;
                    padding: 15px 80px;
                }
            }
        }
    }

    .middle-four-blocks-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 80px;
        padding: 20px 40px;
       .block {
            margin: 0;
            .block-image {
                img {
                    height: 100px;
                }
            }
            .block-text {
                p {
                    font-size: 1.1em;
                }
            }
        }
    }

    .stay-productive {
        padding: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        .stay-poductive-text {
            margin: 0;
            p {
                line-height: 1.5;
                font-size: 1.1em;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    header {
        padding: 60px;
        .header-logo-and-nav {
            nav {
                a {
                    margin-left: 85px;
                }
            }
        }
        .header-main-content {
            padding: 60px 220px;
            .header-text {
                p {
                    width: 70%;
                }
            }
        }
    }
    
    .middle-four-blocks-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 80px;
        padding: 40px 240px;
       .block {
            margin: 0;
            .block-image {
                img {
                    height: 100px;
                }
            }
            .block-text {
                p {
                    font-size: 1.1em;
                }
            }
        }
    }

    .stay-productive {
        grid-column-gap: 60px;
        .stay-poductive-text {
            margin: 140px 0;
            padding: 0 50px;
        }
    }
}