// Colors
// Primary
$introAndEmail: hsl(217, 28%, 15%);
$main: hsl(218, 28%, 13%);
$footer: hsl(216, 53%, 9%);
$testimonials: hsl(219, 30%, 18%);


// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// Neutral
$white: hsl(0, 0%, 100%);


// Typography
// Body Copy
$bodyFontSize: 14px;

// Headings, Call-to-actions, Header Navigation
$headings: 'Raleway', sans-serif;

// Body
$body: 'Open sans', sans-serif;